<%@reservations.each do |res|%>
  <%res.seats.each do |seat|%>
    <div class="reservaciones">
      <%= seat.movie.name %><br>
      Sala: <%= seat.event.hall%><br>
      Silla: <%= seat.name %><br>
      Precio: $<%= seat.price %><br>
      Fecha: <%= seat.event.date %><br>
      Hora: <%= res_start_time seat %><br>
    </div>
  <%end%>
<%end%>
